<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Popup Login Form Design | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/pass.css">
</head>
<body>
    <div class="center">

        <!-- <label for="show" class="show-btn">Change Password</label> -->
        <div class="container">
            <!-- <label for="show" class="close-btn fas fa-times" title="close"></label> -->
            <div class="text">
                Change Your Expired Password
            </div>
            <div class="data title" th:if="${message != null}">
                <p>[[${message}]]</p>
            </div>
            <form th:action="@{/user/change_password}" method="post">
                <div class="data" sec:authorize="isAuthenticated()">
                    <label>Old Password</label>
                    <input type="password" name="oldPassword" class="form-control"
                    placeholder="Old Password" required autofocus>
                </div>
                <div class="data new-pass">
                    <label>New Password</label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control"
                    placeholder="New password" required onkeyup='check();'>
                </div>
                <div class="data">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" id="cfn_newPassword" placeholder="Confirm new password"
                    required onkeyup='check();'>
                    <span id='message'></span>
                </div>
                <!-- <div class="forgot-pass">
                    <a href="#">Forgot Password?</a>
                </div> -->
                <div class="btn">
                    <div class="inner"></div>
                    <button type="submit">Change Password</button>
                </div>
                <!-- <div class="signup-link">
                    Not a member? <a href="#">Signup now</a>
                </div> -->
            </form>
        </div>
    </div>
<script type="text/javascript">
var check = function() {
	  if (document.getElementById('newPassword').value ==
	    document.getElementById('cfn_newPassword').value) {
	    document.getElementById('message').style.color = 'green';
	    document.getElementById('message').innerHTML = 'matching';
	    document.getElementById("mySubmit").disabled = false;
	  } else {
	    document.getElementById('message').style.color = 'red';
	    document.getElementById('message').innerHTML = 'not matching';
	    document.getElementById("mySubmit").disabled = true;
	  }
	}
</script>
</form>
</body>
</html>